<h1><strong>SEASON LIST</strong></h1>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.name %></td>
        <td><%= season.location %></td>
        <td><%= season.date_start %></td>
        <td><%= season.date_end %></td>
        <td><%= link_to 'Show', season, class: 'btn btn-sm btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', :back, class: 'btn btn-secondary' %>