<h1><strong>STAFF</strong></h1>

<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">email</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do | user | %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'Show', profile_user_path(user), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', season_path(params[:id]), class: 'btn btn-secondary' %>