<div class="my_forms">
<h1><strong>Edit Event</strong></h1>

<%= form_for @event, url: admin_event_path, method: :put, local: true do |f| %>
  <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "erros")%></h2>

        <ul>
          <% @event.errors.full_messages.each do |message|%>
          <%= message %>
          <% end %>
        </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :location %><br>
    <%= f.text_field :location %><br>
    <%= f.label :start %><br>
    <%= f.text_field :date %><br>
  </div>
  <div class="action">
    <%= f.submit 'Edit', class: 'btn btn-success' %>
    <%= link_to 'back', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
</div>