<br>
<h4><strong><%= @season.name %></strong></h4><br>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">location</th>
      <th scope="col">date</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do | event | %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event, class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Delete', delete_event_admin_season_path(event), method: :delete, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add event', event_list_admin_season_path, class: 'btn btn-primary'%>
<%= link_to 'Back', admin_season_path(@season), class: 'btn btn-secondary' %>