<div class="my_forms">
  <div>
  <h1><strong>New Season</strong></h1>
    <%= form_with scope: 'season', url: admin_seasons_path, method: :post, local: true do |f| %>
      
      <% if @season.errors.full_messages.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@season.errors.full_messages.count, "errors")%></h3>

          <ul>
            <% @season.errors.full_messages.each do |message|%>
              <%= message %><br>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
        <%= f.label :location %><br>
        <%= f.text_field :location %><br>
        <%= f.label :start_date %><br>
        <%= f.date_field :date_start %><br>
        <%= f.label :end_date %><br>
        <%= f.date_field :date_end %><br>
      </div>
      <div class="action">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'back', admin_seasons_path, class: 'btn btn-danger' %>
      </div>
    <% end %>

  </div>
</div>
