<h1><strong>New User</strong></h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "erros")%></h2>

        <ul>
          <% @user.errors.full_messages.each do |message|%>
          <li><%= message %></li>
          <% end %>
        </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="action">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'back', admin_users_path%>